{% extends 'base.html' %}

{% block title %}
Password change done
{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row" style="height: 100vh;">

        <div class="col"></div>

        <div class="col-sm-10 col-md-8 col-lg-6 align-self-center text-center">
            <h2 class="fw-bold mb-4">Password change complete</h2>
            <p>Your password has been changed.</p>
            <button class="btn btn-outline-secondary"><a href="{% url 'app:home' %}">Home</a></button>
        </div>

        <div class="col"></div>

    </div>
</div>

{% endblock %}