{% extends 'base.html' %}

{% block title %}
Password reset confirm
{% endblock %}

{% block content %}

<div class="container-fluid">
  <div class="row" style="height: 100vh;">

    <div class="col"></div>

    <div class="col-sm-8 col-md-4 col-lg-3 align-self-center">
      <h2 class="fw-bold mb-4">Set New Password</h2>
      {% for error in field.errors %}
      <small style="color: red">{{ error }}</small>
      {% endfor %}
      {% if validlink %}
      <form action="" method="post">
        {% csrf_token %}
        <div class="mb-4">
          <label for="new_password1">New Password:</label>
          <input class="form-control mb-2" type="password" name="new_password1">
          <label for="new_password1">Confirm New Password:</label>
          <input class="form-control" type="password" name="new_password2">
        </div>
        <div class="d-grid">
          <button class="btn btn-outline-secondary" type="submit">Submit</button>
        </div>
      </form>
      {% else %}
      <p>Invalid Link!</p>
      <p>
        <a href="{% url 'password_reset' %}">Request a new Password Reset Token</a>
      </p>
      {% endif %}
    </div>

    <div class="col"></div>

  </div>
</div>

{% endblock %}