{% extends 'base.html' %}

{% block title %}
password reset form
{% endblock %}

{% block content %}

<!-- <a href="{% url 'app:home' %}">Home</a>
<hr>
<h1>Password Reset</h1>
<form action="" method="POST">
    {% csrf_token %}
    {% for field in form %}
    <div>
      <p>
        {{ field.label }}: <br />
        {{ field }}
      </p>
  
      {% for error in field.errors %}
      <small style="color: red">{{ error }}</small>
      {% endfor %}
    </div>
    {% endfor %}
    <button type="submit">Submit</button>
</form> -->


<div class="container-fluid">
  <div class="row" style="height: 100vh;">

    <div class="col"></div>

    <div class="col-sm-8 col-md-4 col-lg-3 align-self-center">
      <h2 class="fw-bold mb-4">Password Reset</h2>
      <form action="" method="post">
        {% csrf_token %}
        {% for field in form %}
        <div class="mb-4">
              <input type="email" name="email" class="form-control" placeholder="Enter Your Email Here!">
            {% for error in field.errors %}
            <small style="color: red">{{ error }}</small>
            {% endfor %}
        </div>
        {% endfor %}
        <div class="d-grid">
          <button class="btn btn-outline-secondary" type="submit">Send</button>
        </div>

        <div class="text-center m-4">
          <p>Back to <a href="{% url 'login' %}">Login</a> page</p>
        </div>

      </form>
    </div>

    <div class="col"></div>

  </div>
</div>

{% endblock %}