{% extends 'base.html' %}

{% block title %}
Update
{% endblock %}

{% block content %}

<div class="container-fluid">
  <div class="row" style="height: 100vh;">

    <div class="col"></div>

    <div class="col-sm-8 col-md-4 col-lg-3 align-self-center">
      <h2 class="fw-bold mb-4">User Update Form</h2>
      {% for message in messages %}
      <small style="color: rgb(0, 94, 29)">{{ message }}</small>
      {% endfor %}
      {% for error in field.errors %}
      <small style="color: red">{{ error }}</small>
      {% endfor %}
      <form action="" method="post">
        {% csrf_token %}
        <div class="mb-4">
          <label for="first_name">Firstname:</label>
          <input type="text" name="first_name" value="{{user.first_name}}" class="form-control">
        </div>
        <div class="mb-4">
          <label for="last_name">Lastname:</label>
          <input type="text" name="last_name" value="{{user.last_name}}" class="form-control">
        </div>
        <div class="d-grid mb-4">
          <button class="btn btn-outline-secondary" type="submit">Submit</button>
        </div>

        <div class="text-center ">
          <button class="btn btn-outline-secondary"><a
              href="{% url 'app:home' %}">Cancel</a></button>
        </div>
      </form>
    </div>

    <div class="col"></div>

  </div>
</div>

{% endblock %}